main {
	min-height: 80vh;
}

h3 {
	padding: 1rem 0;
}

h1 {
	font-size: 1.8rem;
	padding: 1rem 0;
}
h2 {
	font-size: 1.4rem;
	padding: 0.5rem 0;
}
.rating span {
	margin: 0.1rem;
}
/*carousel*/

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
	display: flex;
}
.carousel-caption {
	position: absolute;
	top: 0;
}
.carousel-caption h2 {
	color: #fff;
}
.carousel img {
	height: 300px;
	padding: 30px;
	margin: 40px;
	border-radius: 50%;
}

.carousel a {
	margin: 0 auto;
}

a {
	text-decoration: none;
}
a:hover {
	color: #ff8000;
}
ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
li {
	margin-top: 1rem;
}
input,
select,
textarea,
button {
	padding: 1rem;
	border-radius: 0.5rem;
	border: 0.1rem #a4a4a4 solid;
	font-size: 1.6rem;
	font-family: Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
button {
	background-color: #f8f8f8;
	cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
	border: 0.1rem #404040 solid;
}
button.primary {
	background-color: #f0c040;
}
button.block {
	width: 100%;
}
button.small {
	font-size: 1.2rem;
}
.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.row.center {
	justify-content: center;
}
.row.top {
	align-items: flex-start;
}
.row.start {
	justify-content: flex-start;
}
.col-1 {
	flex: 1 1 25rem;
}
.col-2 {
	flex: 2 1 50rem;
}
.col-3 {
	flex: 32 1 75rem;
}
.min-30 {
	min-width: 30rem;
}
.p-1 {
	padding: 1rem;
}

/* Card */
.card {
	border: 0.1rem #c0c0c0 solid;
	background-color: #f8f8f8;
	border-radius: 0.5rem;
	margin: 1rem;
}
.card-body {
	padding: 1rem;
}
.card-body > * {
	margin-bottom: 0.5rem;
}

.full-container {
	margin: -1rem;
	height: calc(100% + 2rem);
}
/* Chatbox */
.chatbox {
	color: #000000;
	position: fixed;
	right: 1rem;
	bottom: 1rem;
}
.chatbox ul {
	overflow: scroll;
	max-height: 20rem;
}
.chatbox li {
	margin-bottom: 1rem;
}
.chatbox input {
	width: calc(100% - 9rem);
}

.support-users {
	background: #f0f0f0;
	height: 100%;
}
.support-users li {
	background-color: #f8f8f8;
}
.support-users button {
	background-color: transparent;
	border: none;
	text-align: left;
}
.support-users li {
	margin: 0;
	background-color: #f0f0f0;
	border-bottom: 0.1rem #c0c0c0 solid;
}

.support-users li:hover {
	background-color: #f0f0f0;
}
.support-users li.selected {
	background-color: #c0c0c0;
}
.support-messages {
	padding: 1rem;
}
.support-messages input {
	width: calc(100% - 9rem);
}
.support-messages ul {
	height: calc(100vh - 18rem);
	max-height: calc(100vh - 18rem);
	overflow: scroll;
}
.support-messages li {
	margin-bottom: 1rem;
}

.support-users span {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	position: absolute;
	margin-left: -25px;
	margin-top: 10px;
}
.support-users .offline {
	background-color: #808080;
}
.support-users .online {
	background-color: #20a020;
}
.support-users .unread {
	background-color: #f02020;
}
